<%= turbo_frame_tag @record.id do %>
  <div class="row border-top">
    <div class="small">
      <p class="hide"><%= link_to 'Hide', search_path(q: @q) %></p>
      <p><b>Brand:</b> <%= @record.brand %></p>
      <p><b>Model:</b> <%= @record.model %></p>
      <p><b>Year:</b> <%= @record.year %></p>
      <p><b>Color:</b> <%= @record.color %></p>
      <p><b>Transmission:</b> <%= @record.transmission %></p>
      <p><b>Type:</b> <%= @record.category %></p>
    </div>
    <div class="big">
      <img src=<%= record_image(@record.class.name) %> alt="example-image" style="width: 100%;">
    </div>
  </div>
<% end %>
