<%= turbo_frame_tag dom_id(@result) do %>
  <div class="row">
    <div class="col-4">
      <p><%= link_to 'Hide', results_path(q: @q) %></p>
      <p>Brand: <%= @result.brand %></p>
      <p>Model: <%= @result.model %></p>
      <p>Year: <%= @result.year %></p>
      <p>Color: <%= @result.color %></p>
      <p>Transmission: <%= @result.transmission %></p>
      <p>Type: <%= @result.category %></p>
    </div>
    <div class="col-8">
      <img src="https://www.nissanlatam.com/Catalogos/versa2020/peru/images/color/6.jpg" alt="example-image" style="width: 700px;">
    </div>
  </div>
<% end %>
