<%= turbo_frame_tag @result.id do %>
  <div class="row border-top">
    <div class="small">
      <p class="hide"><%= link_to 'Hide', results_path(q: @q) %></p>
      <p><b>Brand:</b> <%= @result.brand %></p>
      <p><b>Model:</b> <%= @result.model %></p>
      <p><b>Year:</b> <%= @result.year %></p>
      <p><b>Color:</b> <%= @result.color %></p>
      <p><b>Transmission:</b> <%= @result.transmission %></p>
      <p><b>Type:</b> <%= @result.category %></p>
    </div>
    <div class="big">
      <img src=<%= result_image(@result.class.name) %> alt="example-image" style="width: 100%;">
    </div>
  </div>
<% end %>
