<%= render 'home/search_box' %>

<% unless @results.any? %>
  <%= render 'empty_state' %>
<% else %>
  <div class='result'>
    <%= @results.total_entries %> Records found.
  </div>
  <% @results.each do |result| %>
    <%= render 'result', result: result %>
  <% end %>
  <div class="apple_pagination">
    <%= will_paginate @results %>
  </div>
<% end %>
